@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @(ViewData["FullName"])!</h2>
    @using (Html.BeginForm("LogOut", "Home"))
    {
        <input type="submit" value="Log Out" />
    }
}