@{
    ViewData["Title"] = "Create";
}

<h2>Create Role</h2>
<br />

<form action="CreateRole" method="post">
    <label for="roleName">Role Name</label>
    <input type="text" name="roleName" />
    <button type="submit">Save</button>
</form>

<hr />